<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Üdvözöllek a tesztben!

    </h1>
    <p class="col-md-8 fs-4">Ez a teszt 18 db kérdésből áll.</p>
    

        <li>A pontozással fejezheted ki a vélményed az oktatókról (8 db kérdésben) és az iskoláról (10 db kérdésben), ami segítség ad a vezetőségnek a minőség fejlesztéséhez, így számodra is kedvező!</li>
        <li>1-5 ig pontozhatsz (1 legrosszabb, 5 legjobb)</li>
        <li>Maximum 15 másodperced van egy állítást értékelni</li>
    
    <p>

    </p>
        <div class="dropdown-center">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Válaszd ki az osztályod!
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">A</a></li>
              <li><a class="dropdown-item" href="#">B</a></li>
              <li><a class="dropdown-item" href="#">C</a></li>
            </ul>
          </div>
          <p>
            <div class="dropdown-center">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Válaszd ki a tanárod!
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">József</a></li>
                <li><a class="dropdown-item" href="#">Janka</a></li>
                <li><a class="dropdown-item" href="#">István</a></li>
              </ul>
            </div>
<p>
  
</p>

    <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startTest()">Kezdődjön az értékelés!</button>

</div>
